<% @chronicle.comments.each do |comment| %>
  <%= link_to comment.account.name, account_path(comment.account) %>
  <%= comment.created_at.strftime("%b %d %Y %k:%M") %>
  <%= comment.content %><br>

<div class="comment_votes">
	<%= comment.upvotes %>
		<%= form_for @comment_vote do |f| %>
			<%= f.hidden_field :upvote, value: true %>
			<%= f.hidden_field :comment_id, value: comment.id %>
			<%= f.hidden_field :chronicle_id, value: comment.chronicle_id %>
			<%= image_submit_tag('upvote.svg', width: "25", height: "25") %>
		<% end %><br />
</div>

<div class="comment_votes">
 	<%= comment.downvotes %>
		<%= form_for @comment_vote do |f| %>
			<%= f.hidden_field :downvote, value: true %>
			<%= f.hidden_field :comment_id, value: comment.id %>
			<%= f.hidden_field :chronicle_id, value: comment.chronicle_id %>
			<%= image_submit_tag('downvote.svg', width: "25", height: "25") %>
		<% end %>
<% end %>
</div>
