
	<ol>
		<% @search["response"]["results"].each_with_index do |article, index| %>
			<ul>
				<div class="articles">
					<%= image_tag(article["fields"]["thumbnail"], size: "100x60") %>
					<%= link_to "#{article["webTitle"]}", article["webUrl"], target: :_blank %><br>
					<% if article["fields"]["trailText"] == nil %>
						<%= "Sorry no snippets for this article" %>
					<% else %>
						<%= "#{article["fields"]["trailText"].split(" ")[0..12].join(" ")}..." %><br>
					<% end %>
					<%=  form_for @article_chronicle, url:add_article_path do |f|%>
					<%= f.collection_select :chronicle_id, Chronicle.where(admin_id: current_account.id ), :id, :name %>

					<%= image_submit_tag("plus_sign.svg", width: "40", height: "40") %>

					<% end %>

				</div>

		</ul>

		<% end %>
	</ol>
