
<%= form_tag(searches_path, method: :get, class: "navbar-form navbar-left", role: "search") do  %>
  <%= search_field_tag name="search[search_term]", "", placeholder: "Search here", class: "form-control" %>
  <%= submit_tag "Chronicles", class: "btn btn-default" %>
  <%= submit_tag "Articles", class: "btn btn-default" %>
  <div id="additionalSearchParams" hidden>
    <div class="form-group">
      # per page: <%= number_field_tag name="search[page_size]", 20, in: 20..50, step: 10, class: "form-control" %>
    </div>
    <div class="form-group">
      From: <%= date_field_tag name="search[from_date]", Date.today-30.days, class: "form-control"%>
    </div>
    <div class="form-group">
      To: <%= date_field_tag name="search[to_date]", Date.today, class: "form-control" %>
    </div>
    Order By:
    <div class="radio">
      relevance<%= radio_button_tag name="search[order_by]", "relevance" %>
    </div>
    <div class="radio">
      newest<%= radio_button_tag name="search[order_by]", "newest" %>

    </div>
    <div class="radio">
      oldest<%= radio_button_tag name="search[order_by]", "oldest" %>
    </div>
  </div>
<% end %>
