<h1> Welcome to Chronicle</h1>
<h2>login page (should be in sessions#new technically according to REST)</h2>
<%= form_for(@account, url: sessions_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit :Login%>
<% end %>
<p>New user? <%= link_to "Sign up now", accounts_path %></p>

<h1> Today's Trending Chronicle</h1>
<div>
  <h3>placeholder for trending chronicle</h3>
</div>
