<h1> Welcome to Chronicle</h1>
<h1> Get the Whole Story: Make a new chronicle to track a topic over time</h1>

<% unless current_account %>
  <%= render "login"%>
<% end %>

<div class="jumbotron jumbotron-fluid">
  <h3> Today's Trending Chronicles</h3>
    <div class="trending-chronicles">
      <% @chronicle_match[0...5].each do |chron| %>
    	<%= link_to chron.name %>
    	<%= link_to image_tag('books.svg', size: '100x100'), chron.name %>
    </div>
  	<br>
    <%= render partial: "chronicles/chronicle_carousel", locals: {chronicle: chron} %>
  	<% if current_account %>
  		<% unless Subscription.find_by(chronicle_id: chron.id, account_id: current_account.id)  %>
  			<%= button_to('+', subscriptions_path, method: :post, params: {chronicle_id: chron.id})%>
  		<% end %>
  	<% end %>
  	<br>
  <% end %>
</div>
