<%= form_for @chronicle do |f| %>

	<div class="createChronicle">
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	</div>

	<div class="createChronicle">
	  <%= f.label :description %>
	  <%= f.text_area :description %>
	</div>

  <div id="tag-box" >
    <a href="#" id="add-tag-button">Add a Tag</a>
  </div>

	<div class="createChronicle">
	  <%= f.label :private, 'Make Private?' %>
	  <%= f.check_box :private, checked_value: false %>
	</div>

	<div class="createChronicle">
	  <%= f.submit %>
	</div>

<% end %>