<h1>Edit <%= @chronicle.name %></h1>

<% if @chronicle.admin_id == current_account.id %>

	<%= form_for @chronicle do |f| %>

		<div class="editChronicle">
		  <%= f.label :name %>
		  <%= f.text_field :name, value: @chronicle.name %>
		</div>

		<div class="editChronicle">
		  <%= f.label :description %>
		  <%= f.text_area :description, value: @chronicle.description %>
		</div>

	  <div id="tag-box" >
	    <a href="#" id="add-tag-button">Add a Tag</a>

	    <% unless @chronicle.tags.blank? %>
		    <% @chronicle.tags.each do |tag| %>
			    	<%= tag.name %>
    				<%= button_to "-", {controller: :tags, action: 'destroy', id: tag.id }, params: {chornicle_id: @chronicle.id, tag_id: tag.id }, method: :delete %>

		    <% end %>
	    <% end %>
	  </div>

		<div class="editChronicle">
		  <%= f.label :private, 'Make Private?' %>
		  <%= f.check_box :private, checked_value: @chronicle.private %>
		</div>

		<div class="editChronicle">
		  <%= f.submit %>
		</div>

	<% end %>

<% end %>
