<h1>Create a New Chronicle</h1>

<%= form_for @chronicle do |f| %>

	<div class="createChronicle">
	  <%= f.label :name %>
	  <%= f.text_field :name %>
	</div>

	<div class="createChronicle">
	  <%= f.label :description %>
	  <%= f.text_area :description %>
	</div>

	<% if false %>
	<!--I am trying to mess with tags, see the application.js file for the jquery  -->
	<!-- <a href="#" id="clickbtn">Click Me</a>
	<div id="tag-box" class="tags">
	  <%= text_field_tag 'tags[]',nil, class: "add-tags" %>
	</div> -->
	<% end %>

	<div class="createChronicle">
	  <%= f.label :private, 'Make Private?' %>
	  <%= f.check_box :private, checked_value: false %>
	</div>

	<div class="createChronicle">
	  <%= f.submit %>
	</div>

<% end %>
