<h1><%= @chronicle.name %></h1>
<h1><%= @chronicle.description %></h1>
  <h6><%  if @chronicle.private == true%>
      <%= "this chronicle is private"  %>
      <% else %>
      <%= "this chronicle is public" %>
      <%end%>
  </h6>
<h1><%= @chronicle.upvotes %></h1><br />

<% @chronicle.articles.each do |article| %>
	<% if article.pic_url.blank? %>
		<%= image_tag('article_default', size: "100x60") %>
	<% else %>
		<%= image_tag('article.pic_url', size: "100x60") %>
	<% end %>

	<%= link_to article.title, article.url %>
<% end %>

<%= render "comments/new_comments" %><br />
<%= render "comments/comments" %><br />
