<h1><%= @chronicle.name %></h1>
<h3><%= @chronicle.description %></h3>
  <h5><%  if @chronicle.private == true%>
      	<%= "this chronicle is private"  %>
      <% else %>
      	<%= "this chronicle is public" %>
      <%end%>
  </h5>
<h5>Browse all <%= link_to "chronicles", chronicles_path %></h5>

<div class="tags">
  <% unless @chronicle.tags.blank? %>
    <% @chronicle.tags.each do |tag|%>
      <%=link_to "##{tag.name}", searches_path("search[search_term]": tag.name, commit: "Chronicles")%>
    <% end %>
  <% end %>
</div>


<h3><%= @chronicle.upvotes %></h3>
<%= form_for @chronicle_vote do |f| %>
	<%= f.hidden_field :upvote, value: true %>
	<%= f.hidden_field :chronicle_id, value: @chronicle.id %>
	<%= image_submit_tag('upvote.svg', width: "60", height: "60") %>
<% end %><br />

<h3><%= @chronicle.downvotes %></h3>
<%= form_for @chronicle_vote do |f| %>
	<%= f.hidden_field :downvote, value: true %>
	<%= f.hidden_field :chronicle_id, value: @chronicle.id %>
	<%= image_submit_tag('downvote.svg', width: "60", height: "60") %>
<% end %><br />

  <%= render partial: "chronicle_carousel", locals: {chronicle: @chronicle} %>

<br>

<%= render "comments/new_comments" %><br />
<%= render "comments/comments" %><br />

<script type="text/javascript">
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
      }
    })
  })
</script>
