<h1><%= @chronicle.name %></h1>
<h1><%= @chronicle.description %></h1>
  <h6><%  if @chronicle.private == true%>
      <%= "this chronicle is private"  %>
      <% else %>
      <%= "this chronicle is public" %>
      <%end%>
  </h6>
<div class="tags">
  <% if !@chronicle.tags.blank? %>
    <% @chronicle.tags.each do |tag|%>
      <%=link_to tag.name, searches_path( :"search[search_term]" => tag.name, :commit=>"Chronicles")%>
    <% end %>
  <% end %>
</div>
<h1><%= @chronicle.upvotes %></h1><br />


<%= render "comments/new_comments" %><br />
<%= render "comments/comments" %><br />
