<!DOCTYPE html>
<html>
  <head>
    <title>Chronicle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
      <li class="search-form">
        <%= form_tag('/search', id: "search-form") do %>
          <%= text_field_tag "query", nil, id: "search-field", placeholder: "Search for Music!", class: "search-field" %>
          <%= button_tag type: 'submit', id: "search-submit", disabled: "disabled" do %>
           <%= icon('search', class: "fa-2x") %>
          <% end %>
        <% end %>

      <%= form_tag(search_create_path) do  %>
      <%= search_field_tag :search_input, placeholder: "Search here" %>
      # per page: <%= number_field_tag :page_size, value: 20, in: 20..50, step: 10 %>
      <%= date_field_tag :from_date, 




      <%= submit_tag "Chronicles" %>
      <%= submit_tag "Articles" %>
      <% end %>
      </li>
  	<!-- nav bar with search form here -->
  	<!-- when user searches for article send to articles index -->
  	<!-- when user searches for article send to chronicles index -->
    <%= yield %>
  </body>
</html>
