<!DOCTYPE html>
<html>
  <head>
    <title>Chronicle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div>
        <%= link_to image_tag('chronicle_logo_vector.svg', size: '40x40'), '/' %>
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :delete %>
          <%= link_to "My Profile", account_path(current_account) %>
        <% end %>
        <%= form_tag(searches_path, method: :get) do  %>
        <%= search_field_tag name="search[search_term]", nil, placeholder: "Search here" %>
        # per page: <%= number_field_tag name="search[page_size]", 20, in: 20..50, step: 10 %>

        Start Date: <%= date_field_tag name="search[from_date]" %>

        End Date: <%= date_field_tag name="search[to_date]" %>

        Order By: relevance<%= radio_button_tag name="search[order_by]", "relevance" %>

        newest<%= radio_button_tag name="search[order_by]", "newest" %>

        oldest<%= radio_button_tag name="search[order_by]", "oldest" %>

        <%= submit_tag "Chronicles" %>
        <%= submit_tag "Articles" %>
        <% end %>
      </div>
    <%= yield %>
    <div>
    </div>
  </body>
</html>
