<h1>Sign Up</h1>
<div>
<%= form_for(@account) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation %><br>

  <%= f.label :bio %>
  <%= f.text_area :bio %><br>

  <%= f.submit :Create %>
  <% end %>
  </div>


<%# original syntax (:account, :url => {:controller => 'accounts', :action=> 'create'})%>
